<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <!--en el body escribo lo q quiero q se vea en la pagina-->
    <h1>Probando el template</h1>
    <p>Mi nombre es {{nombre}}</p>
    <p>y mi apellido es {{apellido}}</p>
    <p style="color:darkred">Mi nombre es {{nombre}}</p>
    <p style="color:violet">Mi apellido es {{apellido}}</p>
    {% for i in notas%}
        {% if i > 4 %}
            <p style="color:blue">aprobo con {{i}}</p>
        {% else %} <p style="color:red">desaprobo con {{i}}</p>
        {% endif %}
    {% endfor %}
</body>
</html>